[Unit]
Description=PenatesServer Gunicorn process
After=network.target
[Service]
User=penatesserver
Group=penatesserver
WorkingDirectory=/var/penatesserver/
ExecStart=/usr/local/bin/penatesserver-gunicorn
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target