[Unit]
Description=ClamAV smtpd in
After=network.target
[Service]
User=clamsmtp
Group=clamsmtp

WorkingDirectory=/var/lib/clamav
ExecStart=/usr/sbin/clamsmtpd -f /etc/clamav/clamsmtpd-in.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target