# This is a default admin
# CHANGE ITS PASSWORD!

define contact{
    use             generic-contact
    contact_name    admin
    email           security@{{ penates_domain }}
    pager           0600000000   ; contact phone number
    password        {{ penates_admin_password }}
    is_admin        1
}
